.favorieten-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--sp-48) var(--sp-32);
}

.short-desc {
    margin-bottom: var(--sp-24);
}

@media (max-width: 640px) {
    .favorieten-container {
        padding: var(--sp-48) var(--sp-16);
    }
}