.btn--secondary {
    font-weight: 600;
    font-size: var(--fs-14);
    padding: 8px 16px;
    border: 0;
    border-radius: var(--radius-md);
    cursor: pointer;
    transition: background .2s, color .2s;
    background: var(--color-neutral);
    color: var(--color-white);
    text-decoration: none;
}
.btn--secondary:hover {
    background: var(--color-neutral-hover);
}

.btn--secondary:disabled,
.btn--secondary--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
